.signup {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-family: helvetica;
  margin: 30px auto 0px;
  padding: 25px;
}

.signup__logo > img {
  width: 150px;
  object-fit: contain;
}
