.basket--button {
  margin: 0px 5px;
  padding: 7px 9px;
  border: none;
  border-radius: 5px;
  font-size: 1.2em;
  font-weight: 500;
  background: #ffd814;
  border-color: #fcd200;
  border-radius: 8px;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  cursor: pointer;
}
